body
{
	background-color: #848C85;
	background-size: cover;

}
img{
	display: inline-block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: rgba(123,194,66,1);
}

.row{
	text-align:center;
}

.menu
{
	margin-top:98px;
	font-size: 21px;
}
.menuu {
	margin-top:100px;
	font-size: 21px;
}

.menu a
{
	border-bottom:solid rgba(123,194,66,1) 2px;
}
.menuu a
{
	border-bottom:solid rgba(0,0,0,0.6) 2px;
}
