body
{
	background-color: #848C85;
	background-size: cover;

}
img{
	width: 70%;
}
a {
	color: rgba(123,194,66,1);
}
h3 {
	color:#6B4030;
	text-align: center;
	margin-top: 0;
	position: relative;
	margin-left: 15px;
}
.menu
{
	margin-top:81px;
	font-size: 19px;
}
.menuu {
	margin-top:81px;
	font-size: 19px;
}

.menu a
{
	border-bottom:solid rgba(123,194,66,1) 2px;
}
.menuu a
{
	border-bottom:solid rgba(0,0,0,0.6) 2px;
}
.barre {
	border-bottom:solid rgba(123,194,66,1) 2px;
	border-top:solid rgba(123,194,66,1) 2px;
	height: 20px;
}
footer {
	background-color: rgba(123,194,66,1);
	background-size: cover;
	border:solid rgba(123,194,66,1) 1px;
	height: 25px;
	margin-left: 5px;
	border-radius: 5px;
	color:#6B4030;

}
.footcont {
	text-align: right;
}
.newsletter {
	text-align: center;
}
.builtby {
	text-align: center;
}
.left {
	background: url(../images/herbe.jpg);
	background-size: cover;
	height:185px;
	border-radius: 100px;
	border:solid rgba(123,194,66,0.8) 2px;
}
.middle {
	background: url(../images/quii.png);
	background-size: cover;
	height: 185px;
	border-radius: 100px;
	border:solid rgba(123,194,66,0.8) 2px;
}
.right {
	background: url(../images/contact2.png);
	background-size: cover;
	height: 185px;
	border-radius: 100px;
	border:solid rgba(123,194,66,0.8) 2px;
}
.vide {
	height: 40px;
}
.ecart {
	height: 25px;
}
.cubel {
	background: url(../images/petite_carte.png);
	background-size: cover;
	height: 185px;
	border-radius: 100px;
	border:solid rgba(123,194,66,0.8) 2px;
}
.cuber {
	background: url(../images/vos_avis.png);
	background-size: cover;
	height: 185px;
	border-radius: 100px;
	border:solid rgba(123,194,66,0.8) 2px;
}
.link {
	font-size: 28px;
	font-weight: bold;
}
.metalink {
	text-align: center;
	padding-top: 75px;
}
.metalinkk {
	text-align: center;
	padding-top: 60px;
}