body
{
	background-color: #848C85;
	background-size: cover;

}
img{
	width: 70%;
}
a {
	color: rgba(123,194,66,1);
}
h1 {
	color:#6B4030;
	text-align: center;
	margin-top: 0;
}
.menu
{
	margin-top:81px;
	font-size: 19px;
}
.menuu {
	margin-top:81px;
	font-size: 19px;
}

.menu a
{
	border-bottom:solid rgba(123,194,66,1) 2px;
}
.menuu a
{
	border-bottom:solid rgba(0,0,0,0.6) 2px;
}