body
{
	background-color: #848C85;
	background-size: cover;

}
img{
	display: inline-block;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	margin: 0 10px;
}

a {
	color: rgba(123,194,66,1);
}

#cube {
	text-align: center;
	margin: auto;
}