body
{
	background-color: #848C85;
	background-size: cover;

}
img
{
	display: block;
	width: 20%;
	margin-left: auto;
	margin-right: auto;

}
ul {
	display: inline;
}
li {
	display: inline;
	
}

a
{
	color: rgba(123,194,66,1);
	
}
#gauche {
	float: left;
	

}
#droite {
	float: right;
}